.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
    width: 100vw;
   
}

.loading-video {
    height: 25vmax;
    width: 25vmax;
    z-index: 1000;
}

.loading-text {
    margin-top: 1vmax;
    font-size: 1.6vmax;
    color: rgb(12, 12, 12);
}